@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "iran";
	src: url("../public/fonts/IRANSans(FaNum)_Light.ttf") format("embedded-opentype"),
		 url("../public/fonts/IRANSans(FaNum)_Light.ttf") format("truetype");
}

body {
  font-family: iran !important;
}